:root {
  --color-blue-1: #0071CE;
  --color-blue-3: #66BAFF;
  --color-main-1: #2B2C2C;
  --color-main-2: #222222;
  --color-secondary-1: #B7B7B7;
  --color-secondary-2: #ebebeb;
  --color-orange-1: #FF6B00;
  --color-orange-3: #FFA666;
  --color-orange-5: #FFF0E6;
  --color-bg-2: #f9f9f9;
  --color-bg-3: #F1F1F7;
}
